.recent h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 45px;
letter-spacing: -0.02em;
color: #313131;

}

.yourRecent p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.25rem;
line-height: 30px;
color: #313131;

}
.date{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.563rem;
color: #313131;
}
.box-1,.box-2,.box-3{
    background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.sameDesign{
    font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 1rem;
line-height: 1.425rem;
color: #313131;

}
.lorem{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 0.983rem;
color: #313131;

}
.btn-design{
width: 13.188rem;
height: 2.75rem;
background:#EEEEEE;
color:#313131;
border-radius:4px;
text-align: center;
border:none;
outline:none;
}
.cardDesign{
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

@media (max-width:767px){
    .cardDesign{
       margin:0px auto;
    }
    .box-3{
        margin-top: 30px;
    }
   .margin-top-2{
       margin-top: 20px;
   }

   .margin-top-1{
      margin-top:20px;
      margin-bottom:25px;
   }
   .increase{
       width:100%;
   }
}

@media (max-width:575px){
.cardDesign{
width:45%;
}

}
